<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content" class="container mt-4">
    <h2 th:text="${category.id} != null ? 'Sửa Category' : 'Thêm Category'"></h2>
    <form th:action="@{/categories/save}" th:object="${category}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label>Tên:</label>
            <input type="text" class="form-control" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label>Mô tả:</label>
            <textarea class="form-control" th:field="*{description}"></textarea>
        </div>
        <button class="btn btn-primary">Lưu</button>
        <a th:href="@{/categories}" class="btn btn-secondary">Hủy</a>
    </form>
</section>
</body>
</html>
